name: Test

on: push
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install . -v
        pip install "pytest>=4.0.2" "pytest-pylint>=0.13.0"
    - name: Test with pytest
      run: |
        cd tests
        pytest test_phik.py -W ignore::DeprecationWarning
